@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin bg($size: cover, $position: center,) {
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;
}

@mixin btn($bgColor, $txtColor, $bgHover, $txtHover) {
    padding: 15px 30px;
    background: $bgColor;
    border: none;
    outline: none;
    color: $txtColor;
    font-size: 1.2rem;
    cursor: pointer;
    transition: $transition;
    letter-spacing: 2px;

    &:hover {
        background-color: $bgHover;
        color: $txtHover;
    }
}

@mixin underline($margin, $bgColor, $width) {
    &::after {
        content: "";
        display: block;
        height: 3px;
        width:  $width;
        margin: $margin;
        background: $bgColor;
    }
}
